# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Temporary files
*.tmp

# Logs
*.log

# Python virtual environments
venv/
.env/

# Exports
exports/

# OS files
.DS_Store

# My-co-Lab generated data
data/environment/*.csv
data/usb_backup.log

# Camera output
media/photos/
media/videos/

# Temporary backups
scripts/usb_backup.sh.bak